@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

/* share style */
.btn-primary{
    font-size: 20px;
    font-weight: bold;
    background-color: #E55473;
    border: none;
    border-radius: 9px;
    padding: 10px;
    cursor: pointer;
}
img{
    width:100%;
    height:100%;
}
a{  
    text-decoration: none;
    color:#fff;
}
.black{
    color:#272727;
}
.black-2{
    color:#272727be;
}
.black-3{
    color:#272727d3;
}
/* header style */
.container{
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contain-text{
    width:700px;
    height:510px;
    margin: 147px 0;

}
.contain-img{
    width:635px;
    height:800px;
    margin-top: 84px;
}
.contain-title{
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 32px;
}
.contain-details,.upcoming-details{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 32px;

}
/* upcoming flower style */
.upcoming-box{
    width:600px;
    height:140px;
    margin:174px 520px 0px 520px;
}
.upcoming-title,.offer-count{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 24px;
}
.flower-box{
    display: flex;
    justify-content: space-between;
    gap:12px;
    margin-top: 90px;
}
.box{
    width:470px;
    height:600px;
    border-radius:50% 50% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.box >img{
    width:310px;
    height:420px;
}
#box-1{
    background-color: #a721621e;
}
#box-2{
    background-color: #0598a01f;
}
#box-3{
    background-color: #477d1123;
}
/* service style */
.delivery{
    background-color: rgba(128, 128, 128, 0.164);
    display: flex;
    margin: 100px 0;
}
.service{
    height:150px;
    padding:86px 100px;
}
.service >img{
    width:88px;
    height:88px;
}
.service-details{
    font-size: 24px;
    font-weight: 600;
}

/* offer style */
.offer{
    background-color: #e554731c;
}
.offer-contain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.color{
    color:#E55473;
}
.offer-details{
    font-size: 18px;
    font-weight: 500;
    color:#272727cb;
    margin-bottom: 20px;
}